<div class="header-image">
    <div class="header-block">
        <div class="header-text">
            <div class="header-text-title">Plates</div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec mollis sem. Etiam id luctus libero.
                Vivamus vulputate urna eget velit iaculis, et interdum elit pellentesque. Duis porta nunc neque, nec volutpat erat lacinia a.
            </p>
        </div>
    </div>
</div>
<div class="layout-container">
    <div class="product-grid">
        <div class="col-md-4 col-sm-6" *ngFor="let product of products;let i = index">
            <div class="image-container">
                <div class="product-image" [ngStyle]="{'background-image': 'url(./assets/imgs/' + product.image + ')'}"></div>
                <div class="overlay">
                    <div class="button button-primary" [routerLink]="['../product',i+1]">View Details</div>
                    <div class="button button-primary" (click)="addToCart(product)">Add To Cart</div>
                </div>
            </div>
            <div class="product-details">
                <div class="product-brand">{{product.brand}}</div>
                <div class="product-title">{{product.title}}</div>
                <div class="product-price">{{product.price | currency :'INR':true }}</div>
            </div>
        </div>
    </div>
</div>
