@media screen and (min-width: 768px) {
    .compare-bar-content {
        text-align: center
    }
    .header-logo-wrapper {
        text-align: left
    }
    .header-mobile-nav-wrapper {
        display: none
    }
    .mobil-shopping-cart {
        display: none
    }
}
@media screen and (max-width: 767px) {
    .header-nav-wrapper {
        display: none
    }
    .mobile-header-nav li {
        display: block;
        line-height: 30px;
    }
    .header-logo-wrapper {
        display: table-cell;
        text-align: center;
        vertical-align: top;
    }
    .header-mobile-nav-wrapper {
        display: table-cell;
        float:left;
    }
    .header-cart-item {
        display: none
    }
}
.headerText
{
  height: 50px;
  font-size: 20px;
}
